.content {
    width: 100%;
}

.area_create_review {
    margin-top: 30px;
}

.info_restaurant {
    font-family: 'gureumgothic50';
    font-size: 20px;
    margin-right: 20px;
}

.info_restaurant, .area_starRating {
    display: inline-block;
}

.input_content {
    margin-top: 20px;
    width: 100%;
    height: 120px;
    border-radius: 10px;
    outline: none;
    line-height: 5rem;
    border: 1px solid gray;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2rem;
    font-family: 'gureumgothic50';
    margin-bottom: 20px;
}

/* rating */
.rating {
    display: none;
  }
.star {
    cursor: pointer;
}

.area_btn {
    font-family: 'gureumgothic50';
    font-size: 20px;
    margin: auto;
    width: 50%;
}

.btn_review_register {
    width: 110px;
    height: 60px;
    background: #ffd02e;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    float: right;
}

@media all and (max-width: 920px) {
    .info_restaurant {
        font-family: 'gureumgothic50';
        font-size: 18px;
        margin-right: 0px;
    }

    .info_restaurant, .area_starRating {
        display: flow;
    }

    .area_btn {
        font-family: 'gureumgothic50';
        font-size: 16px;
        margin: auto;
        width: 50%;
    }

    .btn_review_register {
        width: 90px;
        height: 40px;
        background: #ffd02e;
        border: none;
        border-radius: 30px;
        margin-bottom: 20px;
        float: right;
    }

    .input_content {
        height: 70px;
        font-size: 16px;
    }
}