.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}

header {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
}

.modal {
    display: block;
    position: fixed;
    top: 30vh;
    left: calc(50% - 20rem);
    width: 40rem;
    z-index: 100;
    overflow: hidden;
    height: auto;
}

.modal-title {
    font-family: 'gureumgothic50';
    font-weight: bold;
    font-size: 18px;
    background: #ffd02e;
    padding: 10px;
}

p {
    margin: 0;
}

.content {
    font-family: 'gureumgothic50';
    padding: 1rem;
}

.actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

@media all and (max-width: 1540px){
    .modal {
        left: calc(50% - 20rem);
        width: 40rem;
    }
}

@media all and (max-width: 770px){
    .modal {
        left: calc(50% - 15rem);
        width: 32rem;
    }
}
