.area_upload_img {
  margin-bottom: 20px;
}


.form_photo {
  display: inline-grid;
}

.select_img {
  width: 400px;
  height: 400px;
  /* min-width: 100px; */
  /* min-height: 100px; */
  /* -ms-interpolation-mode: bicubic; */
  object-fit: cover;
  border-radius: 10px;
   /* display: block; */
}

.area_upload_img label {
  display: inline-block;
  padding: .5em .75em;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #ffd02e;
  cursor: pointer;
  border: none;
  border-radius: 1.25em;
  font-family: 'gureumgothic50';
  margin-top: 10px;
}

.area_upload_img label:hover {
  box-shadow: 0 2px 4px #7a7a76;
  background: #f8bd11;
}

.area_upload_img input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.btn_restaurant_register {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    font-family: 'gureumgothic50';
    font-size: 20px;
    border-radius: 30px;
    background: #ffd02e;
    width: 90px;
    height: 60px;
}

.btn_restaurant_register:hover {
  box-shadow: 0 2px 4px #7a7a76;
  background: #f8bd11;
}

.area_restaurant, .area_address{
  display: flex;
  justify-content: center;
}

.img_restaurant, .img_address {
  width: 60px;
  height: 60px;
  margin-right: 30px;
}

.form_restaurant, .form_address {
  width: 50%;
}

.input_box {
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
  outline: none;
  line-height: 5rem;
  border: 1px solid gray;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.2rem;
  font-family: 'gureumgothic50';
}

@media all and (max-width: 600px){
  .select_img {
    width: 300px;
    height: 300px;
  }

  .img_restaurant, .img_address {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .input_box {
    font-size: inherit;
    line-height: 3rem;
  }

  .btn_restaurant_register {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: inherit;
    width: 70px;
    height: 40px;
  }
}