table, tr, td {
    border: none;
}

.area_btn {
    width: 100%;
}

.board_create {
    display: inline-block;
}
  
.btn_board_create {
    border: none;
    position:fixed;
    bottom: 20%;
    right: 8%;
    width: 70px;
    height: 70px;
    z-index: 99;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
}

.content_table {
    border-spacing: 15px;
    border-collapse: separate;
}

.content {
    width: 200px;
    justify-content: center;
    display: grid;
}

.content_img:hover {
    transform: scale(1.05);
}

.content_img {
    width: 200px;
    height: 200px;
    background-color: #ffd02e !important;
    margin-bottom: 5px;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px; 
    border-bottom-right-radius: 15px;
    object-fit: cover;
    transition: 0.3s;
}

.content_restaurant {
    font-family: 'gureumgothic50';
    justify-content: center;
    display: grid;
}

.content_review_rating {
    margin-bottom: 20px;
    font-family: 'gureumgothic30';
    justify-content: center;
    display: grid;
}

@media all and (max-width: 1540px){
	.container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media all and (max-width: 1260px){
	.container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (max-width: 920px){
    .content_img {
        width: 160px;
        height: 160px;
        background-color: #ffd02e !important;
        margin: 10px;
    }
}

@media all and (max-width: 770px){
	.container {
        grid-template-columns: repeat(2, 1fr);
    }

    .content_img {
        width: 140px;
        height: 140px;
        background-color: #ffd02e !important;
        margin: 10px;
    }
}