.content {
    width: 100%;
}

.review_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

.area_review {
    /* width: 400px; */
    font-size: 18px;
    font-family: 'gureumgothic50';  
    border: gray solid 1px;
    padding: 10px;
    border-radius: 10px;
    margin: 30px
}

#rating {
    color: #ffd02e;;   
}

.area_rating {
    margin-bottom: 10px;
}

.area_regdate {
    margin-left: 20px;
    color: #808080
}

.area_rating, .area_regdate {
    display: inline-block;
}

.area_content {
    background-color: #e4e5e9;
    border-radius: 10px;
    padding: 10px;
}

@media all and (max-width: 920px) {

    .review_container {
        width: 100%;
        column-gap: 0px;
    }

    .area_review {
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
    }

    .area_rating {
        margin-bottom: 0px;
    }

    .area_regdate {
        margin-left: 0px;
        font-size: 16px;
    }

    .area_rating, .area_regdate {
        display: flow;
    }

    .area_content {
        font-size: 14px;
    }
}