.App {
  text-align: center;
  font-family: 'gureumgothic50';
}

.App-logo {
  /* height: 30vmin; */
  pointer-events: none;
  animation: App-logo-spin 3 0.5s linear;
}

.banner {
  margin-top: 100px;
  margin-bottom: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
